@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --color-primary: oklch(0.73 0.11 233.76);
  --color-accent: oklch(0.85 0.17 86.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}

@layer {
  input,
  .input {
    @apply border-3 border-black bg-white px-3 py-2 rounded-lg;
  }
  button.primary {
    @apply bg-accent hover:brightness-125 transition;
  }
}