@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 5rem;
  --nav-height: 5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --color-primary: oklch(0.73 0.11 233.76);
  --color-accent: oklch(0.85 0.17 86.2);
  --color-app-teal: oklch(0.78 0.1 195.27);
  --color-app-blue-600: oklch(0.42 0.09 252.14);
  --spacing-mobile: calc(6 * 0.25rem);
  --text-xxs: 0.625rem; 
  --leading-xxs: 0.875rem;
  --spacing-header-h: var(--header-height);
  --spacing-nav-h: var(--nav-height);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}

@layer {
  input,
  .input {
    @apply border-3 border-black bg-white px-3 py-2.5 rounded-xl;
  }
  .btn.primary,
  button.primary {
    @apply block bg-accent hover:brightness-125 transition text-center font-bold;
  }

  .header2 {
    @apply text-xl font-bold mb-2;
  }
  .header3 {
    @apply text-lg font-bold mb-2;
  }

  .app-container {
    @apply rounded-xl border-3 border-black;
  }
}

.lineheight-1 {
  line-height: 1;
  display: inline-block;
}